<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">            
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="slideshow_listing_data_source" xsi:type="string">Codazon\Slideshow\Model\ResourceModel\Slideshow\Grid\Collection</item>                
            </argument>
        </arguments>
    </type>
    <type name="Codazon\Slideshow\Model\ResourceModel\Slideshow\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">cdz_slideshow</argument>
            <argument name="eventPrefix" xsi:type="string">cdz_slideshow_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">slideshow_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Codazon\Slideshow\Model\ResourceModel\Slideshow</argument>
        </arguments>
    </type>
    
    <virtualType name="GirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SlideshowGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Codazon\Slideshow\Model\ResourceModel\Slideshow\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">CmsGirdFilterPool</argument>
        </arguments>
    </virtualType>
</config>
