<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Codazon_ProductLabel::productlabel_content" title="Codazon" sortOrder="10" >
                        <resource id="Codazon_ProductLabel::productlabel" title="Product Label" sortOrder="40">
                            <resource id="Codazon_ProductLabel::save" title="Save Label" sortOrder="10" />
                            <resource id="Codazon_ProductLabel::delete" title="Delete Label" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>